/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

body {
  background-color: #000;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 100; }

input, select, option {
  font-family: inherit;
  font-weight: inherit; }

.profile {
  margin-top: 20px;
  margin-bottom: 41px; }
  @media screen and (min-width: 600px) {
    .profile {
      margin-top: 80px;
      margin-bottom: 80px; } }

.output-profile {
  margin-bottom: 58px; }
  @media screen and (min-width: 600px) {
    .output-profile {
      margin-bottom: 151px; } }

.what__length-container {
  margin-bottom: 53px; }
  @media screen and (min-width: 600px) {
    .what__length-container {
      margin-bottom: 94px; } }

.what__output {
  margin-bottom: 34px; }
  @media screen and (min-width: 600px) {
    .what__output {
      margin-bottom: 180px; } }

.favorite {
  margin-bottom: 30px; }
  @media screen and (min-width: 600px) {
    .favorite {
      margin-bottom: 80px; } }

.create-btn {
  margin-bottom: 80px; }
  @media screen and (min-width: 600px) {
    .create-btn {
      margin-bottom: 160px; } }

.tweet {
  margin-bottom: 36px; }
  @media screen and (min-width: 600px) {
    .tweet {
      margin-bottom: 144px; } }

.copyright {
  margin-bottom: 30px; }

.hero {
  text-align: center; }
  .hero__img {
    width: 100%;
    max-width: 1066.67px; }

.profile {
  border-bottom: solid 5px #111;
  padding-bottom: 140px; }
  @media screen and (min-width: 600px) {
    .profile {
      padding-bottom: 155px; } }
  .profile__input {
    position: relative;
    height: 60px;
    width: 270px;
    margin: 0 auto;
    padding-top: 20px;
    text-align: center; }
    @media screen and (min-width: 600px) {
      .profile__input {
        padding-top: 80px; } }
  .profile__birth {
    background-color: #111;
    border: none;
    color: #666;
    float: left;
    font-size: 24px;
    padding: 0;
    text-align: center;
    height: 60px;
    width: 90px; }
  .profile__birth-year {
    border-radius: 3px 0 0 3px; }
  .profile__birth-day {
    border-radius: 0 3px 3px 0; }
  .profile__sex {
    float: left;
    background-color: #000;
    border-radius: 50%;
    border: solid 4px #111;
    color: #525252;
    cursor: pointer;
    font-size: 17px;
    text-align: center;
    line-height: 32px;
    vertical-align: middle;
    user-select: none;
    width: 35px;
    height: 35px; }
    .profile__sex-male {
      position: absolute;
      z-index: 1;
      top: 127px;
      left: 60px; }
      @media screen and (min-width: 600px) {
        .profile__sex-male {
          top: 195px; } }
    .profile__sex-female {
      position: absolute;
      z-index: 1;
      top: 127px;
      left: 165px; }
      @media screen and (min-width: 600px) {
        .profile__sex-female {
          top: 195px; } }
    .profile__sex-bar {
      margin-left: 132.5px;
      border-radius: 0;
      border: solid 2.5px #111;
      border-style: none solid;
      cursor: default;
      width: 0;
      height: 140px; }
      @media screen and (min-width: 600px) {
        .profile__sex-bar {
          height: 155px; } }
      .profile__sex-bar::after {
        background-color: #111;
        content: "";
        display: block;
        transform: rotate(90deg);
        height: 140px;
        width: 5px; }
        @media screen and (min-width: 600px) {
          .profile__sex-bar::after {
            height: 140px;
            margin-top: 7.5px; } }
  .profile__sex-button {
    display: none; }
  .profile .profile__input input[type="radio"]:checked + .profile__sex {
    background-color: #111;
    border: solid 5px #111;
    color: #DDD;
    margin-top: -10px;
    width: 55px;
    height: 55px;
    line-height: 50px;
    font-size: 24px;
    transition: .2s; }
  .profile .profile__input input[type="radio"]:checked + .profile__sex--fix {
    margin-left: -20px; }

.output-profile {
  display: none; }
  .output-profile__age-box {
    text-align: center; }
  .output-profile__age {
    text-align: center;
    color: #DDD;
    font-size: 60px;
    text-shadow: 0 0 16px #FFF; }
    @media screen and (min-width: 600px) {
      .output-profile__age {
        font-size: 140px; } }
    .output-profile__age--male::after {
      content: "/ 80";
      color: #707070;
      font-size: 20px;
      text-shadow: none;
      margin-right: -30px; }
      @media screen and (min-width: 600px) {
        .output-profile__age--male::after {
          font-size: 40px;
          margin-right: -60px; } }
    .output-profile__age--female::after {
      content: "/ 87";
      color: #707070;
      font-size: 20px;
      text-shadow: none;
      margin-right: -30px; }
      @media screen and (min-width: 600px) {
        .output-profile__age--female::after {
          font-size: 40px;
          margin-right: -60px; } }
  .output-profile__light-box {
    text-align: center;
    font-size: 0;
    margin: 0 auto;
    padding-top: 30px;
    width: 280px; }
    @media screen and (min-width: 600px) {
      .output-profile__light-box {
        padding-top: 66px;
        width: 80vw;
        max-width: 960px; } }
  .output-profile__light {
    background-color: #242424;
    border: solid 4px #4B474B;
    border-radius: 50%;
    display: inline-block;
    margin: 4px;
    height: 20px;
    width: 20px; }
    @media screen and (min-width: 600px) {
      .output-profile__light {
        border: solid 11px #4B474B;
        margin: 10px 20px;
        height: 34px;
        width: 34px; } }
    .output-profile__light--on {
      transition: background-color 1000ms, border-color 1000ms, box-shadow 1000ms;
      background-color: #FF00FF;
      border-color: #B508B5;
      box-shadow: 0 0 20px #FF00FF; }
      @media screen and (min-width: 600px) {
        .output-profile__light--on {
          box-shadow: 0 0 50px #FF00FF; } }

.heading {
  max-width: 100%;
  padding: 0 45px; }
  .heading__english {
    margin-bottom: 10px; }
    @media screen and (min-width: 600px) {
      .heading__english {
        margin-bottom: 20px; } }
  .heading__japanese {
    margin-bottom: 30px; }
    @media screen and (min-width: 600px) {
      .heading__japanese {
        margin-bottom: 80px; } }

.input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 16px;
  margin: 0 auto; }
  @media screen and (min-width: 600px) {
    .input {
      padding: 30px; } }
  .input--big {
    max-width: 720px; }
  .input--small {
    max-width: 495px; }

.heading__english {
  color: #707070;
  font-size: 18px;
  line-height: 1.5;
  text-align: center; }
  @media screen and (min-width: 600px) {
    .heading__english {
      font-size: 30px; } }

.heading__japanese {
  color: #707070;
  font-size: 14px;
  line-height: 20px;
  text-align: center; }
  @media screen and (min-width: 600px) {
    .heading__japanese {
      font-size: 18px;
      line-height: 1.5; } }

.input {
  background-color: #111;
  border: none;
  color: #707070;
  font-size: 16px;
  line-height: 1.5;
  text-align: center; }
  @media screen and (min-width: 600px) {
    .input {
      font-size: 30px; } }

.what__length-container {
  padding: 0 45px; }

.what__length {
  max-width: 720px;
  margin: 0 auto;
  text-align: right;
  font-size: 12px;
  line-height: 1.5;
  color: #707070; }

.what__output {
  display: none;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  color: #707070; }
  @media screen and (min-width: 600px) {
    .what__output {
      font-size: 30px; } }

.input--what {
  margin-bottom: 8px; }

.where {
  position: relative; }
  .where__map {
    width: 100%;
    height: 202.9px; }
    @media screen and (min-width: 600px) {
      .where__map {
        height: 480px; } }

.heading--where {
  position: absolute;
  right: 0;
  left: 0;
  top: 29.9px;
  bottom: 0; }
  @media screen and (min-width: 600px) {
    .heading--where {
      top: 102px; } }

.favorite {
  position: relative;
  text-align: center; }
  .favorite__thumbnail-area {
    width: 100%;
    height: 203.33px; }
    @media screen and (min-width: 600px) {
      .favorite__thumbnail-area {
        height: 666px; } }
  .favorite__movie-area {
    display: none;
    position: relative;
    width: 100%;
    margin: auto; }
  .favorite__thumbnail-img {
    display: none;
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    filter: brightness(20%); }
  .favorite__container {
    width: 100%;
    padding-bottom: 56.25%;
    height: 0px;
    position: relative; }
  .favorite__movie {
    position: absolute;
    width: 65%;
    height: 65%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto; }

.heading--favorite {
  position: absolute;
  right: 0;
  left: 0;
  top: 29.9px;
  bottom: 0; }
  @media screen and (min-width: 600px) {
    .heading--favorite {
      top: 102px; } }

.focus {
  color: #353535; }

.create-btn {
  padding: 0 45px; }
  .create-btn__switch {
    box-sizing: border-box;
    max-width: 425px;
    padding: 25px;
    margin: 0 auto; }
    @media screen and (min-width: 600px) {
      .create-btn__switch {
        padding: 33px; } }

.create-btn__switch {
  background-color: #FF00FF;
  border: solid #707070 1px;
  border-radius: 3px;
  box-shadow: #FF00FF 0 0 26px 0;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  font-weight: bold;
  cursor: pointer; }
  @media screen and (min-width: 600px) {
    .create-btn__switch {
      font-size: 30px; } }
  .create-btn__switch:active {
    transition: transform 0.1s linear 0s;
    transform: translateY(3px); }

.tweet {
  display: none;
  text-align: center; }
  .tweet__btn {
    display: inline-block;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-image: url("../image/twitter-icon.svg");
    background-size: contain; }
    @media screen and (min-width: 600px) {
      .tweet__btn {
        width: 40px;
        height: 40px; } }

.copyright {
  text-align: center;
  padding: 0 0 29px;
  font-weight: 250;
  line-height: 18px;
  color: #707070;
  font-size: 12px; }
  @media screen and (min-width: 600px) {
    .copyright {
      padding: 0 0 31px; } }
