<!DOCTYPE html>
<html lang="ja">
<head>
  <% include ../component/head %>
</head>
<body>
  <% include ../component/hero %>

  <% include ../component/profile %>

  <% include ../component/what %>

  <% include ../component/where %>

  <% include ../component/favorite %>

  <% include ../component/create-btn %>

  <% include ../component/footer %>
  
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="./js/index.js"></script>
</body>
</html>