<div class="favorite">
  <div class="favorite__thumbnail-area" id="output"></div>
  <div class="favorite__movie-area" id="outputMovie"></div>
  <div class="heading heading--favorite">
    <div class="heading__english">What is your favorite movie?</div>
    <div class="heading__japanese">好きな動画は？</div>
    <input class="input input--small focus" id="fav-input-id" type="text" value="https://www.youtube.com/～">
  </div>
</div>