

<div class="favorite">
  <div class="favorite__thumbnail-area" id="output"></div>

  <%# -----heading読み込み----- %>
<%-
  include('heading',{
    english:'What is your favorite movie?',
    japanese:'好きな動画は？',
    size:'small',
    id:'fav-input-id',
    maxlength:''
  });
%>
<%# -----heading読み込み----- %>

</div>
