<div class="output-profile">
  <div class="output-profile__age-box">
    <p class="output-profile__age output-profile__age--male">30</p>
  </div>
  <div class="output-profile__light-box">
    <div class="output-profile__light-1 output-profile__light"></div>
    <div class="output-profile__light-2 output-profile__light"></div>
    <div class="output-profile__light-3 output-profile__light"></div>
    <div class="output-profile__light-4 output-profile__light"></div>
    <div class="output-profile__light-5 output-profile__light"></div>
    <div class="output-profile__light-6 output-profile__light"></div>
    <div class="output-profile__light-7 output-profile__light"></div>
    <div class="output-profile__light-8 output-profile__light"></div>
    <div class="output-profile__light-9 output-profile__light"></div>
    <div class="output-profile__light-10 output-profile__light"></div>
    <div class="output-profile__light-11 output-profile__light"></div>
    <div class="output-profile__light-12 output-profile__light"></div>
    <div class="output-profile__light-13 output-profile__light"></div>
    <div class="output-profile__light-14 output-profile__light"></div>
    <div class="output-profile__light-15 output-profile__light"></div>
    <div class="output-profile__light-16 output-profile__light"></div>
    <div class="output-profile__light-17 output-profile__light"></div>
    <div class="output-profile__light-18 output-profile__light"></div>
    <div class="output-profile__light-19 output-profile__light"></div>
    <div class="output-profile__light-20 output-profile__light"></div>
    <div class="output-profile__light-21 output-profile__light"></div>
    <div class="output-profile__light-22 output-profile__light"></div>
    <div class="output-profile__light-23 output-profile__light"></div>
    <div class="output-profile__light-24 output-profile__light"></div>
    <div class="output-profile__light-25 output-profile__light"></div>
    <div class="output-profile__light-26 output-profile__light"></div>
    <div class="output-profile__light-27 output-profile__light"></div>
    <div class="output-profile__light-28 output-profile__light"></div>
    <div class="output-profile__light-29 output-profile__light"></div>
    <div class="output-profile__light-30 output-profile__light"></div>
    <div class="output-profile__light-31 output-profile__light"></div>
    <div class="output-profile__light-32 output-profile__light"></div>
    <div class="output-profile__light-33 output-profile__light"></div>
    <div class="output-profile__light-34 output-profile__light"></div>
    <div class="output-profile__light-35 output-profile__light"></div>
    <div class="output-profile__light-36 output-profile__light"></div>
    <div class="output-profile__light-37 output-profile__light"></div>
    <div class="output-profile__light-38 output-profile__light"></div>
    <div class="output-profile__light-39 output-profile__light"></div>
    <div class="output-profile__light-40 output-profile__light"></div>
    <div class="output-profile__light-41 output-profile__light"></div>
    <div class="output-profile__light-42 output-profile__light"></div>
    <div class="output-profile__light-43 output-profile__light"></div>
    <div class="output-profile__light-44 output-profile__light"></div>
    <div class="output-profile__light-45 output-profile__light"></div>
    <div class="output-profile__light-46 output-profile__light"></div>
    <div class="output-profile__light-47 output-profile__light"></div>
    <div class="output-profile__light-48 output-profile__light"></div>
    <div class="output-profile__light-49 output-profile__light"></div>
    <div class="output-profile__light-50 output-profile__light"></div>
    <div class="output-profile__light-51 output-profile__light"></div>
    <div class="output-profile__light-52 output-profile__light"></div>
    <div class="output-profile__light-53 output-profile__light"></div>
    <div class="output-profile__light-54 output-profile__light"></div>
    <div class="output-profile__light-55 output-profile__light"></div>
    <div class="output-profile__light-56 output-profile__light"></div>
    <div class="output-profile__light-57 output-profile__light"></div>
    <div class="output-profile__light-58 output-profile__light"></div>
    <div class="output-profile__light-59 output-profile__light"></div>
    <div class="output-profile__light-60 output-profile__light"></div>
    <div class="output-profile__light-61 output-profile__light"></div>
    <div class="output-profile__light-62 output-profile__light"></div>
    <div class="output-profile__light-63 output-profile__light"></div>
    <div class="output-profile__light-64 output-profile__light"></div>
    <div class="output-profile__light-65 output-profile__light"></div>
    <div class="output-profile__light-66 output-profile__light"></div>
    <div class="output-profile__light-67 output-profile__light"></div>
    <div class="output-profile__light-68 output-profile__light"></div>
    <div class="output-profile__light-69 output-profile__light"></div>
    <div class="output-profile__light-70 output-profile__light"></div>
    <div class="output-profile__light-71 output-profile__light"></div>
    <div class="output-profile__light-72 output-profile__light"></div>
    <div class="output-profile__light-73 output-profile__light"></div>
    <div class="output-profile__light-74 output-profile__light"></div>
    <div class="output-profile__light-75 output-profile__light"></div>
    <div class="output-profile__light-76 output-profile__light"></div>
    <div class="output-profile__light-77 output-profile__light"></div>
    <div class="output-profile__light-78 output-profile__light"></div>
    <div class="output-profile__light-79 output-profile__light"></div>
    <div class="output-profile__light-80 output-profile__light"></div>
    <div class="output-profile__light-81 output-profile__light"></div>
    <div class="output-profile__light-82 output-profile__light"></div>
    <div class="output-profile__light-83 output-profile__light"></div>
    <div class="output-profile__light-84 output-profile__light"></div>
    <div class="output-profile__light-85 output-profile__light"></div>
    <div class="output-profile__light-86 output-profile__light"></div>
    <div class="output-profile__light-87 output-profile__light"></div>
  </div>
</div>