<div class="profile">
  <div class="profile__input">
    <input class="profile__birth profile__birth-year">
    <input class="profile__birth profile__birth-month">
    <input class="profile__birth profile__birth-day">
    <div class="profile__sex profile__sex-male">
      <input class="profile__sex-button" name="sex" type="radio" id="male">
      <label class="profile__sex-style profile__sex-style--male" for="male">♂</label>
    </div>
    <div class="profile__sex-style profile__sex-bar"></div>
    <div class="profile__sex profile__sex-female">
      <input class="profile__sex-button" name="sex" id="female" type="radio">
      <label class="profile__sex-style" for="female">♀</label>
    </div>
  </div>
</div>