<div class="profile">
  <div class="profile__input">
    <input class="profile__birth profile__birth-year">
    <input class="profile__birth profile__birth-month">
    <input class="profile__birth profile__birth-day">
    <input class="profile__radio-none" name="sex" type="radio" id="male" checked="">
    <label class="profile__sex profile__sex-male" for="male">♂</label>
    <div class="profile__sex profile__bar"></div>
    <input class="profile__radio-none" name="sex" type="radio" id="female">
    <label class="profile__sex profile__sex-female" for="female">♀</label>
  </div>
</div>