<%# what ※コメントアウト %>
<div class="what">
  <div class="heading heading--what">
    <div class="heading__english">What are you?</div>
    <div class="heading__japanese">あなたは何者ですか？</div>
    <input class="input input--big" id="js-input-what" type="text" maxlength="10">
  </div>
  <div class="what__input-container">
    <div class="what__input-length">
        <span id="js-input-what-length">0</span>/10
    </div>
  </div>
</div>
