<script src="//maps.googleapis.com/maps/api/js?key=AIzaSyBom4xYfD6TpMLUJM9XuNeBto4gpGDeTrw"></script>
<div class="where">
  <div id="where__map"></div>
<%# -----heading読み込み----- %>
<%-
  include('heading',{
    english:'Where are you inhabiting?',
    japanese:'どこに生息している？',
    size:'small',
    id:'where-input-id',
    maxlength:''
  });
%>
<%# -----heading読み込み----- %>
</div>