//footer
.copyright {
  text-align: center;
  padding: 0 0 29px;
  font-weight: 250;
  line-height: 18px;
  color: #707070;
  font-size: 12px;
  @media screen and (min-width: 600px) {
    padding:0 0 31px;
  }
}
