.profile {
  border-bottom: solid 5px #111;
  padding-bottom: 140px;
  @include screen-min($breakpoint){
    padding-bottom: 155px;
  }
  &__input {
    position: relative;
    height: 60px;
    width: 270px;
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
    @include screen-min($breakpoint){
      padding-top: 80px;
    }
  }
  &__birth {
    background-color: #111;
    border: none;
    color: #666;
    float: left;
    font-size: 24px;
    padding: 0;
    text-align: center;
    text-align-last: center;
    height: 60px;
    width: 90px;
  }
  &__birth-year {
    border-radius: 3px 0 0 3px;
  }
  &__birth-day {
    border-radius: 0 3px 3px 0;
  }
  &__sex {
    float: left;
    background-color: #000;
    border-radius: 50%;
    border: solid 4px #111;
    color: #525252;
    cursor: pointer;
    font-size: 17px;
    text-align:center;
    line-height: 32px;
    vertical-align: middle;
    user-select: none;
    width: 35px;
    height: 35px;
    &-male {
      position: absolute;
      z-index: 1;
      top: 127px;
      left: 60px;
      @include screen-min($breakpoint){
        top: 195px;
      }
    }
    &-female {
      position: absolute;
      z-index: 1;
      top: 127px;
      left: 165px;
      @include screen-min($breakpoint){
        top: 195px;
      }
    }
    &-bar {
      margin-left: 132.5px;
      border-radius: 0;
      border: solid 2.5px #111;
      border-style: none solid;
      cursor: default;
      width: 0;
      height: 140px;
      @include screen-min($breakpoint){
        height: 155px;
      }
      &::after {
        background-color: #111;
        content: "";
        display: block;
        transform: rotate(90deg);
        height: 140px;
        width: 5px;
        @include screen-min($breakpoint){
          height: 140px;
          margin-top: 7.5px;
        }
      }
    }
  }
  &__sex-button {
    display: none;
  }
  .profile__input input[type="radio"]:checked {
    & + .profile__sex {
      background-color: #111;
      border: solid 5px #111;
      color: #DDD;
      margin-top: -10px;
      width: 55px;
      height: 55px;
      line-height: 50px;
      font-size: 24px;
      transition: .2s;
    }
    & + .profile__sex--fix {
      margin-left: -20px;
    }
  }
}
