//where
.where {
  position: relative;
  &__map {
    width: 100%;
    height: 200px;
    @include screen-min($breakpoint) {
      height: 480px;
    }
  }
  &__loading {
    position: absolute;
    bottom: 0;
    background-color: #000;
    width: 100%;
    height: 200px;
    @include screen-min($breakpoint) {
      height: 480px;
    }
  }
}
