body {
  background-color: #000;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 100;
}
input, select, option {
  font-family: inherit;
  font-weight: inherit;
}

.profile {
  margin-top: 20px;
  margin-bottom: 41px;
  @media screen and (min-width: 600px) {
    margin-top: 80px;
    margin-bottom: 80px;
  }
}

.output-profile {
  margin-bottom: 58px;
  @media screen and (min-width: 600px) {
    margin-bottom: 151px;
  }
}

.what {
  &__length-container {
    margin-bottom: 53px;
    @media screen and (min-width: 600px) {
      margin-bottom: 94px;
    }
  }
  &__output{
    margin-bottom: 34px;
    @media screen and (min-width: 600px) {
      margin-bottom: 180px;
    }
  }
}

.favorite {
  margin-bottom: 30px;
  @media screen and (min-width: 600px) {
    margin-bottom: 80px;
  }
}

.create-btn {
  margin-bottom: 80px;
  @media screen and (min-width: 600px) {
    margin-bottom: 160px;
  }
}

.tweet {
  margin-bottom: 36px;
  @media screen and (min-width: 600px) {
    margin-bottom: 144px;
  }
}

.copyright {
  margin-bottom: 30px;
}