//レイアウト
.heading {
  max-width: 100%;
  padding: 0 45px;
  &__english {
    margin-bottom: 10px;
    @media screen and (min-width: 600px) {
      margin-bottom: 20px;
    }
  }
  &__japanese {
    margin-bottom: 30px;
    @media screen and (min-width: 600px) {
      margin-bottom: 80px;
    }
  }
}

.input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 16px;
  margin: 0 auto;
  @media screen and (min-width: 600px) {
    padding: 30px;
  }
  &--big {
    max-width: 720px;
  }
  &--small {
    max-width: 495px;
  }
}

//デザイン
.heading {
  &__english {
    color: #707070;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    @media screen and (min-width: 600px) {
      font-size: 30px;
    }
  }
  &__japanese {
    color: #707070;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    @media screen and (min-width: 600px) {
      font-size: 18px;
      line-height: 1.5;
    }
  }
}

.input {
  background-color: #111;
  border: none;
  color: #707070;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  @media screen and (min-width: 600px) {
    font-size: 30px;
  }
}