//what
.what {
  &__length-container {
    padding: 0 45px;
  }
  &__length {
    // レイアウト
    max-width: 720px;
    margin: 0 auto;
    // デザイン
    text-align: right;
    font-size: 12px;
    line-height: 1.5;
    color: #707070;
  }
  &__output {
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    color: #707070;
    @media screen and (min-width: 600px) {
      font-size: 30px;
    }
  }
}

.input {
  &--what {
    margin-bottom: 8px;
  }
}